#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}


.banner {
  margin: 0px auto;
  width: 90%;
}


.banner-carousel-wrapper {
  position: relative;
  height: 500px;
  width: 100%;
  margin-left: 40px;
}

.banner-swiper {
  border-radius: 20px;
  margin-top: 20px;
  max-width: calc(1500px - 500px);
  height: calc(100% - 20px);
  width: 100%;
  right: 0;
  position: absolute;
}



body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}


.banner-swiper .swiper-slide {
  overflow: hidden;
  text-align: center;
  font-size: 18px;
  background: red;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  .swiper-slide img {
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


